.view {
	width: fit-content;
	display: flex;
	align-items: center;

	color: #C05E51;
	border: 1px solid #C05E51;
	border-radius: 50px;
	padding: 0px 10px;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #F5C265;
	color: #000000;
	text-decoration: none;
	border-radius: 50px;
	padding: 5px 15px;
}

.btn:hover {
	background-color: #EABB60;
}
