.banner{
		position: relative;
		height: 483px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		color: #fff;

}

.banner img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}



.carousel {
	position: relative;
	width: 100%;
	margin: auto;
	overflow: hidden;
	z-index: 0;
  }

  .carousel_track_container {
	overflow: hidden;
	z-index: 1;
  }


  .carousel_track {
	display: flex;
	transition: transform 0.5s ease-in-out;
  }

  .carousel_item {
	/* min-width: 25%; */
	padding: 12px;
	text-align: center;
  }

  
  .carousel_button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border: none;
	color: black;
	font-size: 2rem;
	cursor: pointer;
	padding: 10px;
	z-index: 1000;
  }
  
.left {
	left: -10px;
  }
  .right {
	right: -10px;
  }



.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 300px;
	background-color: #F5C265;
	color: #000000;
	text-decoration: none;
	border-radius: 10px;
	padding: 10px 25px;
	font-size: 20px; 
  	
}


.btn_outline_finish {
	border-radius: 5px;
	font-size: 16px;
	border:none ;
	text-decoration: underline;
	color: #C05E51;
}

.btn_outline_finish:hover {
	background-color:  #C05E51; 
	color: #fff;
}

  

.btn_outline_processing {
	border-radius: 5px;
	font-size: 16px;
	border:none ;
	text-decoration: underline;
	color:  #5A6E5A;
}

.btn_outline_processing:hover {
	background-color: #5A6E5A; 
	color: #fff;
}

.btn_group_process {
	border-color: #5A6E5A !important;
	font-size: 16px;
	border:none ;
	color:  #5A6E5A !important ;
}

.toggleBtn {
	color: #F5C265;
	border: 1px solid #F5C265;
	background-color: transparent;
	margin: 0px 5px;
}

.toggleBtn:hover, .toggleBtn:focus, .activeToggleBtn {
	color: black !important;
	border: 1px solid #F5C265 !important;
	background-color: #F5C265 !important;
}
