.view {
	width: fit-content;
	display: flex;
	align-items: center;

	color: #C05E51;
	border: 1px solid #C05E51;
	border-radius: 50px;
	padding: 0px 10px;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #F5C265;
	color: #000000;
	text-decoration: none;
	border-radius: 50px;
	padding: 5px 15px;
}

.btn:hover {
	background-color: #EABB60;
}

.userTitle {
	height: 30px;
	display: flex;
	align-items: center;

	color: #5A6E5A;
	font-weight: bold;

	border: #5A6E5A 1px solid;
	border-radius: 50px;

	padding: 0px 10px;
	margin-right: 10px;
}
