.view {
	width: fit-content;
	display: flex;
	align-items: center;

	color: #C05E51;
	border: 1px solid #C05E51;
	border-radius: 50px;
	padding: 0px 10px;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;
	background-color: #F5C265;
	color: #000000;
	text-decoration: none;
	border-radius: 50px;
	padding: 5px 25px;
}

.btn:hover {
	background-color: #EABB60;
}

.cancelBtn {
	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;
	background-color: #C05E51;
	color: white;
	text-decoration: none;
	border-radius: 50px;
	padding: 5px 25px;
}

.cancelBtn:hover {
	background-color: #C46557;
}

.userTitle {
	height: 30px;
	display: flex;
	align-items: center;

	color: #5A6E5A;
	font-weight: bold;

	border: #5A6E5A 1px solid;
	border-radius: 50px;

	padding: 0px 10px;
	margin-right: 10px;
}

.chapterBlock {
	align-items: center;
	background-color: #e2e0d3;
	color: #5b6e5a;
	font-weight: bold;
	margin: 10px;
	padding: 1rem 1.5rem; /* 這裡的 0.75rem 對應到 p-3 */
	border-radius: 0.375rem; /* 這裡的 0.375rem 對應到 rounded */
}  
